.container {
  position: relative;
  border: 1px lightgray solid;
  max-width: 600px;
  display: block;
  margin: 10px auto;
}

.heading {
  text-align: center;
}
.chat {
  /* border: solid; */
}
.history {
  padding: 10px;
  overflow: scroll;
  height: 600px;
}
.history > * {
  margin-top: 15px;
}
.user {
  margin-left: auto;
  margin-right: 0;
  width: 250px;
  background-color: pink;
  padding: 7px;
  border-radius: 10px;
}
.bot {
  margin-left: 0;
  margin-right: auto;
  width: 250px;
  background-color: lightblue;
  padding: 7px;
  border-radius: 10px;
}

.chatBox {
  /* position: absolute;
  bottom: 0;
  left: 1px; */
  border: none;
  border-top: 1px lightgray solid;
  /* border-left: none;
  border-right: none; */
  width: 99%;
  height: 30px;
}